<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>temple</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>BodoniModa_9pt-Bold.ttf</string>
		<string>BodoniModa_18pt-Black.ttf</string>
		<string>BodoniModa_18pt-BlackItalic.ttf</string>
		<string>BodoniModa_18pt-Bold.ttf</string>
		<string>BodoniModa_18pt-BoldItalic.ttf</string>
		<string>BodoniModa_18pt-ExtraBold.ttf</string>
		<string>BodoniModa_18pt-ExtraBoldItalic.ttf</string>
		<string>BodoniModa_18pt-Italic.ttf</string>
		<string>BodoniModa_18pt-Medium.ttf</string>
		<string>BodoniModa_18pt-MediumItalic.ttf</string>
		<string>BodoniModa_18pt-Regular.ttf</string>
		<string>BodoniModa_18pt-SemiBold.ttf</string>
		<string>BodoniModa_18pt-SemiBoldItalic.ttf</string>
		<string>BodoniModa_28pt-Black.ttf</string>
		<string>BodoniModa_28pt-BlackItalic.ttf</string>
		<string>BodoniModa_28pt-Bold.ttf</string>
		<string>BodoniModa_28pt-BoldItalic.ttf</string>
		<string>BodoniModa_28pt-ExtraBold.ttf</string>
		<string>BodoniModa_28pt-ExtraBoldItalic.ttf</string>
		<string>BodoniModa_28pt-Italic.ttf</string>
		<string>BodoniModa_28pt-Medium.ttf</string>
		<string>BodoniModa_28pt-MediumItalic.ttf</string>
		<string>BodoniModa_28pt-Regular.ttf</string>
		<string>BodoniModa_28pt-SemiBold.ttf</string>
		<string>BodoniModa_28pt-SemiBoldItalic.ttf</string>
		<string>BodoniModa_48pt-Black.ttf</string>
		<string>BodoniModa_48pt-BlackItalic.ttf</string>
		<string>BodoniModa_48pt-Bold.ttf</string>
		<string>BodoniModa_48pt-BoldItalic.ttf</string>
		<string>BodoniModa_48pt-ExtraBold.ttf</string>
		<string>BodoniModa_48pt-ExtraBoldItalic.ttf</string>
		<string>BodoniModa_48pt-Italic.ttf</string>
		<string>BodoniModa_48pt-Medium.ttf</string>
		<string>BodoniModa_48pt-MediumItalic.ttf</string>
		<string>BodoniModa_48pt-Regular.ttf</string>
		<string>BodoniModa_48pt-SemiBold.ttf</string>
		<string>BodoniModa_48pt-SemiBoldItalic.ttf</string>
		<string>BodoniModa_72pt-Black.ttf</string>
		<string>BodoniModa_72pt-BlackItalic.ttf</string>
		<string>BodoniModa_72pt-Bold.ttf</string>
		<string>BodoniModa_72pt-BoldItalic.ttf</string>
		<string>BodoniModa_72pt-ExtraBold.ttf</string>
		<string>BodoniModa_72pt-ExtraBoldItalic.ttf</string>
		<string>BodoniModa_72pt-Italic.ttf</string>
		<string>BodoniModa_72pt-Medium.ttf</string>
		<string>BodoniModa_72pt-MediumItalic.ttf</string>
		<string>BodoniModa_72pt-Regular.ttf</string>
		<string>BodoniModa_72pt-SemiBold.ttf</string>
		<string>BodoniModa_72pt-SemiBoldItalic.ttf</string>
		<string>BodoniModa_9pt-BlackItalic.ttf</string>
		<string>BodoniModa_9pt-ExtraBold.ttf</string>
		<string>BodoniModa_9pt-ExtraBoldItalic.ttf</string>
		<string>BodoniModa_9pt-Italic.ttf</string>
		<string>BodoniModa_9pt-Medium.ttf</string>
		<string>BodoniModa_9pt-MediumItalic.ttf</string>
		<string>BodoniModa_9pt-Regular.ttf</string>
		<string>BodoniModa_9pt-SemiBold.ttf</string>
		<string>BodoniModa_9pt-SemiBoldItalic.ttf</string>
		<string>BodoniModa_9pt-BoldItalic.ttf</string>
	</array>
</dict>
</plist>
